<div class="card">
  <div class="card-body">
    <h5 class="card-title">Editar {{ getEntryTypeName() }}</h5>
    <form [formGroup]="entryForm">
      <div class="form-group" *ngIf="entryType == 1 || entryType == 2">
        <label for="category">Cuenta:</label>
        <select class="form-control" name="account" formControlName="account">
          <option *ngFor="let account of accounts" [ngValue]="account">
            {{account.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="category">Categoria:</label>
        <select class="form-control" name="category" formControlName="category" (change)="categoryChanged()">
          <option *ngFor="let category of categories" [ngValue]="category">
            {{category.name}}
          </option>
        </select>
      </div>
      <div class="form-group" *ngIf="subcategories">
        <label for="category">Sub-categoria:</label>
        <select class="form-control" name="subcategory" formControlName="subcategory">
          <option *ngFor="let subcategory of subcategories" [ngValue]="subcategory">
            {{subcategory.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="notes">Notas:</label>
        <input type="text" class="form-control" name="notes" formControlName="notes">
      </div>
      <div class="form-group">
        <label for="notes">Cantidad:</label>
        <input type="number" class="form-control" name="amount" formControlName="amount">
      </div>
      <button type="submit" (click)="submit()" [disabled]="!entryForm.valid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
