<div class="row text-center">
  <div class="col">
    <h3>Cuentas</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card" *ngFor="let chunk of accountsChunk">
      <div class="card-header d-flex justify-content-between align-items-center">
        {{chunk.title}}
        <span class="badge badge-pill">{{chunk.totalValue | currency:'USD':true:'1.2-2'}}</span>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" *ngFor="let account of chunk.entries"
          (click)="showAccount(account)">
          <span>{{account.name}}</span>
          <button type="button" (click)="editAccount(account)" class="btn btn-primary"><span  class="oi oi-pencil"></span></button>
          <span [ngClass]="{'badge-success': account.currentBalance >= 0, 'badge-danger': account.currentBalance < 0}" class="badge badge-pill">
            {{account.currentBalance | currency:'USD':true:'1.2-2'}}
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" *ngIf="moneyLeft">
      <div class="card-header">
        Proyectado
      </div>
      <div class="card-body center-money">
        <span class="quantity">{{ moneyLeft | currency }}</span>
      </div>
    </div>
  </div>
</div>
